<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>CFBundleDisplayName</key>
	<string>MusicSheet</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>Standard MIDI File</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.midi-audio</string>
			</array>
		</dict>
	</array>
	<key>CFBundleIdentifier</key>
	<string>net.citringo.TestApp1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-76@2x.png</string>
		<string>Default@2x.png</string>
		<string>Default-568h@2x.png</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard_iPhone</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIMainStoryboardFile~ipad</key>
	<string>MainStoryboard_iPhone</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
</dict>
</plist>
